.main {
    width: 100%;

    .wrap-card {
        background-color: #fff;
        border-radius: 15px;
        padding: 15px 20px;

        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}